<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <script src = "/jquery"> </script>
    <script src="/socket.io/socket.io.js"></script>
    <title></title>
</head>
<body>



<script>
    io = io.connect();

    io.on("connect",function(){
        console.log("Socket.io connected ... ");
        setInterval(function(){
            io.emit("ERPersonUpdate",{heartbeat:85,personID:117},function(callback){
                console.log(callback);
            });
        },2000)
    })
</script>
</body>
</html>