
/* Reset */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,font,img,ul,li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background: transparent;}
ol,ul   {list-style:none;}
/* END reset */

section,aside,nav,footer{display:block;}

body{background:#bfbfbf;
    font-size: 16px;
    width:100%;
    line-height: 138%;
    font-family: "futura-pt",Century Gothic,Futura,sans-serif;
    -webkit-font-smoothing: antialiased;
}
#page-wrap{
    background: #292929;
    position:relative;
    margin:auto;
    width:80%;
    max-width: 1400px;
    height:auto;
    box-shadow: 5px 5px 10px #888888;
}
a{font-weight:bold;color:#3370d4;text-decoration: none;padding:0.1em 0.3em;}
a:visited{
    color:#3370d4;
}
a:hover{
    color:#ECECEC;
    cursor:pointer;
    box-shadow:none;
    background:#3370d4;
}
/* top section*/
header{
    position: relative;
    top: -7px;
    max-width: 365px; background: #1e1e1e;
    margin:10px 0px 10px 50px;
    padding-top:10px;padding-bottom: 10px;
    line-height:1.6;font-family: "Agency FB",DinRound, Sans-Serif;
    color: #ffffff; text-align: center; font-size: 36px;
    text-shadow:2px 2px 5px grey;
    z-index: 2;
}

.page_title{}

nav#mode_selection{
    text-align: center;
    position: absolute;
    top: 101px;
    left: -195px;
    z-index: 9;
    background: #1e1e1e;
    color: white;
    line-height: 1.5em;
    float: left;
    display: inline-block;
}

nav#mode_selection ul{
    background: #1e1e1e;
    list-style:none;
    margin: 0; padding : 0;
}
nav#mode_selection li:hover{
    background:#ECECEC;
    color: #1e1e1e;
    cursor: pointer;
}

nav a:visited{
    color:white;
}
nav a{
    color:white;
}
nav ul li ul{
    margin:12px auto auto auto !important;
}
nav ul li ul li{
    font-size:0.8em;
    padding: 0!important;
}

nav ul li ul li:hover{
    background: #868686 !important;
}


nav#mode_selection li{
    background: #1e1e1e;
    display: block;
    clear: left;
    padding: 10px 15px;
    border: #ECECEC solid 1px;
    cursor: pointer;
}
#userMode{
    background:none;
    color: #ffffff;
}
#devMode{
    background:#cacaca;
    color: #d05a47;
}
/* End top section*/

/* Canvas Section*/
#canvas{
    position:relative;
    margin-left: 10px;
}
#cnv{
    position: absolute; left: 0; top: 0; z-index: 10;margin:0px;min-height:300px;
}
#cnvSensors{
    position: absolute; left: 0; top: 0; z-index: 2;margin:0px;
}

#cnvStationary{
    position: absolute; left: 0; top: 0; z-index: 11;margin:0px;
}

#cnvBG{
    z-index:1;
    background: #ffffff ;
    position: absolute; left: 0; top: 0;margin:0px;
}
/* End canvas section*/


/* Overview section */
section#overview{
    position: relative;
    left: 827px;
    top: -74px;
    clear: both;
    background: #CACACA;
    width: 554px;
    border: 2px solid;
    height: 871px;
}
#contentHeader{
    height: 30px; z-index: 1;
}
section#overview fieldset{
    padding: 0.2em 0.5em;
    margin: 0.1em;
    border:1px solid #292929;;
    color:black;
    font-size:90%;
    height:auto; z-index: 1;
    background: white;
    border-radius: 9px;
    width:535px;
}
section#overview td{
    text-align:center;
}
section#overview legend{
    font-size:1.5em;
    font-weight:bold;
}
section#overview #contentHeader{
    text-align:center;
    padding-top:5px;
    font-family:"Agency FB",DinRound, Sans-Serif;
    font-weight:bold;
    font-size:2em;
    color:#292929
}
section#overview table{
    width:100%;
}
section#overview table td{
    max-width: 50%;
    width:50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
section#overview table th{
    font-family:oblique,DinRound, Sans-Serif;
    max-width: 150px;
    font-size:1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

fieldset#clients {
    width:100%;
    height:auto;
}
fieldset#clients legend{
    color:#ffffff;
    /*padding:2px 1px;*/
    /*border: 2px solid #A1A2A5;*/
    background:#292929;
    box-shadow: 1px 1px 3px #888888;
}
#clients_table {
    width:100%;
    max-width:100%;
}
section #sensors legend{
    background: #3370d4;
    /*border: 2px solid #A1A2A5;*/
    color: #ffffff;
    box-shadow: 1px 1px 3px #888888;
}
section input#getPoints{
    position:relative;
}
section #people legend{
    color:#ffffff;
    /*border: 2px solid #A1A2A5;;*/
    background:#d05a47;
    box-shadow: 1px 1px 3px #888888;
}

section #dataPoints legend{
    color:#ffffff;
    /*border: 2px solid #A1A2A5;;*/
    background:#8A8A8A;
    box-shadow: 1px 1px 3px #888888;
}

section #devices legend{
    background: #2cd72A;/*border: solid #A1A2A5;*/color: #ffffff;
    box-shadow: 1px 1px 3px #888888;
}
/* End overview section */


/* Calibration */

section#calibration_section{
    color:#ffffff;
    padding:0px;
    margin:0px;
    display:none;
    background: transparent;
    position:relative;;
    top:-77px;
    left:0px;
    height:auto;
}
.instruction_menu{margin-top:0.5em;text-align:center;}

section#calibration_section em{
    background:#b75252;
    color:white;
    padding: 0px 2px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
}

section#calibration_section fieldset ul{
    border-bottom:1px solid white;
}

.calibration_step{
    width:50%;
    margin:10px auto;
}

section#calibration_section form{
    height:auto;
}

section#calibration_section table{
    width:100%;
}

section#calibration_section table td{
    width:50%;

}

section#calibration_section fieldset.master{
    width:95%;
    margin:auto;
    padding:0px;
    background:#cacaca;
    height:auto;
}
section#calibration_section h5{
    color:#1656bf;
}

section#calibration_section fieldset.master legend{
    font-family:"Agency FB",DinRound, Sans-Serif;
    padding:10px 20px;
    text-align:center;
    font-size: 1.8em;
    background:#3370d4;
    line-height:1.2em;
    border-radius:5px;
}
section#calibration_section fieldset.sub_field{
    width: 93%;
    margin: 10px 3px;
    height: 109px;
    background: #ffffff;
    margin-bottom: 20px;
}

section#calibration_section fieldset.sub_field legend{
    font-family:"Consolas",DinRound, Sans-Serif;
    padding:10px 20px;
    font-weight:bold;
    text-align:center;
    font-size: 1.0em;
    background:#3370d4;
    line-height:1em;
    border-radius:5px;
}


section#calibration_section select {
    font-family: "Consolas",DinRound, Sans-Serif;
    font-size: 1.2em;
    color: #3370d4;
    margin: auto;
    width: 50%;
    border: none;
    display: inline-block;
    padding:5px;
    /* border-radius: 4px; */
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    height: auto;
    overflow: hidden;
}

section#calibration_section select:focus {
    outline: none;
}


section#calibration_section .calibration_wrap{
    margin:auto;
    width:100%;
    margin:10px 10px;
}

.canvas_wrap{
    color:#292929;
    text-align:center;
    vertical-align: middle;
    border:solid black 2px;
    margin:10px 0px;
    padding:0px;
    background:white;
    width: 650px;
    height:500px;
}
#calibration_bottom{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:0px;
    background:#3370d4;
}
#getImage{
    margin: auto;
    background: #d05a47;
    padding: 5px 0px;
    width: 134px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 61px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

/* border-radius: 10px; */
#getCalibrationFrames:hover{
    color:#292929;
    cursor:pointer;
    box-shadow:none;
}




/* Data Section*/

section#dataManage{
    display:none;
    margin: auto;
    width: 35%;
}

#dataManage_wrap{
    padding: 15px;
}

section#dataManage h1{
    color:whitesmoke;
}
#filesList{
    min-width: 303px;
}

input[type="file"]
{
    border:1px solid #5F5F5F;
    text-decoration:none;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color:red;
}

/* End Data Section*/

/* Buttons!! */
/* This has to be declared first !*/
.buttonSelected {
    color:#1e1e1e;
    border: 1px solid #ECECEC;
    font-family: "Agency FB",DinRound, Sans-Serif;
    font-size: 1.5em;
    margin: 0 0;
    padding: 0.5em 0.6em;
    display: inline-block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    background:#ECECEC;
}

.button{
    color:#ECECEC;
    border: 1px solid #ECECEC;
    font-family: "Agency FB",DinRound, Sans-Serif;
    font-size: 1.5em;
    margin: 0 0;
    padding: 0.5em 0.6em;
    display: inline-block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    background:#1e1e1e;

}
.button:hover{
    color:#1e1e1e;
    cursor:pointer;
    box-shadow:none;
    background:#ECECEC;
}

.points{
    font-weight: bold;
    color: #1656bf;
    text-align: left;
    padding:3px;
}


div#calibration_flip{
    font-size:1em;
    width: 200px;
    position: absolute;
    top: -19px;
    left: 6px;
    Z-index: 2;
}





.get_unpaired_people{
    color:white;
    margin: 0px 2px;
    background: #d05a47;
    padding: 1px 8px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #888888;
}

.get_unpaired_people:hover{
    color:#292929;
    cursor:pointer;
    box-shadow:none;
}

.dataButton{
    text-decoration: none;
    color: whitesmoke;
    background: #8A8A8A;
    font-size: 1em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: bold;
    padding: 0.2em 0.1em;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #888888;
    margin:auto 3px;
}

.dataButton:hover {
    color: #8A8A8A;
    background: whitesmoke;
}

.dataButton:active {
    color: whitesmoke;
    background: #8A8A8A;
}


/* END button */

/* status box*/
.status_wrap{
    margin: 10px;
    max-width: 100%;
    height: 100px;
    height: auto;
    background: #1e1e1e;
    position: absolute;
    top: 278px;
    left: -224px;
    width: 191px;
    /* z-index: 0; */
    float: left;
    color: #cacaca;
    padding: 10px;
    border-radius: 5px;
    word-wrap: normal;
    clear: both;
}
.status_wrap h1{
    text-decoration:underline;
    text-transform: uppercase;
    font-family:"Agency FB",DinRound, Sans-Serif;
    font-size: 1.2em;
    margin:2px;
}

.status{
    vertical-align: middle;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    font-family: "Consolas",DinRound, Sans-Serif;
    border: solid 1px #292929;
    text-align: center;
    background: #ffffff;
}


.pointsStatus{
    height:1.5em;
    margin:auto;
    width:80%;
    color:#1656bf;
    vertical-align:middle;
    font-family:"Consolas",DinRound, Sans-Serif;
    border:solid 1px #292929;text-align:left;background:#ffffff;max-height: 200px;}
.green_status{
    background: rgba(58, 201, 51, 0.95);

    color: #ffffff;
    width: auto;
    padding: 0px 2px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    display: none;
    box-shadow: 2px 2px 5px #888888;
}
.red_status{
    background: #b75252;

    color: #ffffff;
    width: auto;
    padding: 0px 2px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    display: none;
    box-shadow: 2px 2px 5px #888888;

}
.normal_status{
    background: #7d7979;

    color: #ffffff;
    width: auto;
    padding: 0px 2px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    display: none;
    box-shadow: 2px 2px 5px #888888;
}

#clear_master_points{
    width: 18%;
    float: right;
    margin: -60px 0 0 0;
}
#clear_sensorTwo_points{
    width: 18%;
    float: right;
    margin: -60px 0 0 0;
}
/* END Break word*/
