<!DOCTYPE html>
<html>
<head>
    <title>Super Cool SOD Visualizer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

        var calibrationFrames = {};
        var sensorOnePoints = [];
        var sensorTwoPoints = [];
        var sensors = {};
        var depthArrays = {};


        function getPosition(canvasID, sid, event)
        {
            var rect = document.getElementById(canvasID).getBoundingClientRect();
            var xInPixels = event.x - rect.left;
            var y = event.y - rect.top;
            var z = depthArrays[sid][xInPixels+(y*sensors[sid].frameWidth)];
            if(sensors[sid].sensorType == "Kinect2"){
                z = z*10;
            }

            var xInMM = 2*(event.x - rect.left-(sensors[sid].frameWidth/2))/(sensors[sid].frameWidth)*(z>>>3)*(Math.tan(sensors[sid].FOV/2))
            console.log(xInMM);
            if(canvasID == "cnvSensorOne"){
                if(sensorOnePoints.length < 2 && z > 0){
                    sensorOnePoints.push({X: xInMM, Y: y, Z: z >>> 3});
                }
                $('#sensorOneStatus').html(JSON.stringify(sensorOnePoints));
            }
            else if(canvasID == "cnvSensorTwo"){
                if(sensorTwoPoints.length < 2 && z > 0){
                    sensorTwoPoints.push({X: xInMM, Y: y, Z: z >>> 3});
                }
                $('#sensorTwoStatus').html(JSON.stringify(sensorTwoPoints));
            }
            if(z == 0){
                $('#status').html("Depth is out of range, please choose another point!");
            }
            else{
                $('#status').html("Point saved!");
            }
        }

        function setup(){
            //
        }

        function refreshSensors(){
            $("#referenceSensorList").empty();
            $("#uncalibratedSensorList").empty();
            io.emit('getSensorsFromServer', {}, function(data){
                sensors = {};
                var referenceSensorList = document.getElementById("referenceSensorList")
                var uncalibratedSensorList = document.getElementById("uncalibratedSensorList")
                for(var key in data){
                    if(data.hasOwnProperty(key)){
                        sensors[key] = data[key];
                        var option = document.createElement("option");
                        option.text = data[key].socketID;
                        if(data[key].isCalibrated == true){
                            var option2 = document.createElement("option");
                            option2.text = data[key].socketID;
                            referenceSensorList.add(option2);
                        }
                        uncalibratedSensorList.add(option);
                    }
                }
            });
        }

        io = io.connect()
        io.on("connect", function(){
            io.emit("registerWebClient", {});
        });

        io.on("anything", function(data){
            $('#status').html("MESSAGE RECEIVED: " + data);
        })

        io.on("setCalibrationFrame", function(data){
            if(calibrationFrames["reference"] == data.sourceID || calibrationFrames["uncalibrated"] == data.sourceID){
                depthArrays[data.sourceID] = data.payload;
                if(sensors[data.sourceID].sensorType == "Kinect1"){
                    var depthMultiplier = 7000;
                }
                else{
                    var depthMultiplier = 5;
                }
                if(calibrationFrames["reference"] == data.sourceID){
                    canvas = document.getElementById("cnvSensorOne");
                    var ctx = canvas.getContext("2d");
                    var bytearray = new Uint8Array(data.payload);
                    var imgdata = ctx.getImageData(0,0, sensors[data.sourceID].frameWidth, sensors[data.sourceID].frameHeight);
                    ctx.canvas.width = sensors[data.sourceID].frameWidth;
                    ctx.canvas.height = sensors[data.sourceID].frameHeight;
                    var imgdatalen = imgdata.data.length;
                    for(var i=0;i<(imgdatalen/4);i++){
                        var depth = (data.payload[i]>>>3)*255/depthMultiplier;

                        imgdata.data[4*i] = depth;
                        imgdata.data[4*i+1] = depth;
                        imgdata.data[4*i+2] = depth;
                        imgdata.data[4*i+3] = 255;
                    }
                    ctx.putImageData(imgdata,0,0)
                    canvas.addEventListener("mousedown", function(event){
                        getPosition("cnvSensorOne", data.sourceID, event);
                    }, false);
                    $('#sensorOneStatus').html(depthMultiplier);
                }
                else if(calibrationFrames["uncalibrated"] == data.sourceID){
                    canvas = document.getElementById("cnvSensorTwo");
                    var ctx = canvas.getContext("2d");
                    var bytearray = new Uint8Array(data.payload);
                    var imgdata = ctx.getImageData(0,0, sensors[data.sourceID].frameWidth, sensors[data.sourceID].frameHeight);
                    ctx.canvas.width = sensors[data.sourceID].frameWidth;
                    ctx.canvas.height = sensors[data.sourceID].frameHeight;
                    var imgdatalen = imgdata.data.length;
                    for(var i=0;i<(imgdatalen/4);i++){
                        var depth = (data.payload[i]>>>3)*255/depthMultiplier;

                        imgdata.data[4*i] = depth;
                        imgdata.data[4*i+1] = depth;
                        imgdata.data[4*i+2] = depth;
                        imgdata.data[4*i+3] = 255;
                    }
                    ctx.putImageData(imgdata,0,0)
                    canvas.addEventListener("mousedown", function(event){
                        getPosition("cnvSensorTwo", data.sourceID, event);
                    }, false);
                    $('#sensorTwoStatus').html(depthMultiplier);
                }
            }

        });

        $(function(){
            $('#refreshSensors').click(function(){
                refreshSensors();
            })
            $('#getCalibrationFrames').click(function(){ /*listening to the button click using Jquery listener*/
                var e1 = document.getElementById("referenceSensorList");
                var e2 = document.getElementById("uncalibratedSensorList");
                while(calibrationFrames.length > 0){
                    calibrationFrames.pop();
                }
                calibrationFrames["reference"] = e1.options[e1.selectedIndex].text;
                calibrationFrames["uncalibrated"] = e2.options[e2.selectedIndex].text;
                $('#status').html('CLICKED BUTTON');
                io.emit("getCalibrationFrames", {referenceSensorID: e1.options[e1.selectedIndex].text, uncalibratedSensorID: e2.options[e2.selectedIndex].text});
            });

            $('#resetPointsOne').click(function(){
                sensorOnePoints = [];
                $('#sensorOneStatus').html(JSON.stringify(sensorOnePoints));
            })

            $('#resetPointsTwo').click(function(){
                sensorTwoPoints = [];
                $('#sensorTwoStatus').html(JSON.stringify(sensorTwoPoints));
            })

            $('#calibrate').click(function(){
                if(sensorOnePoints.length == 2 && sensorTwoPoints.length == sensorOnePoints.length){
                    io.emit("calibrateSensors", {referenceSensorID: calibrationFrames["reference"], uncalibratedSensorID: calibrationFrames["uncalibrated"],
                        sensorOnePoints: sensorOnePoints, sensorTwoPoints: sensorTwoPoints}, function(data){

                        $('#status').html(JSON.stringify(data))
                    })
                }
                else{
                    $('#status').html('Error: There are not enough points for calibration.');
                }
            })
        });
        io.emit("registerWebClient", {});



    </script>
</head>
<body onload="setup(), refreshSensors()">
    <form>
        <select id="referenceSensorList" size="5"></select>
        <select id="uncalibratedSensorList" size="5"></select>
    </form>

    <div>
        <canvas id="cnvSensorOne" width="640" height="480"
                style="position: absolute; left: 0px; top: 150px; z-index: 3;"></canvas>
        <div id="sensorOneStatus" style="position: absolute; left: 0px; top: 860px;"></div> <!--This is where the data from the server is added-->
        <canvas id="cnvSensorTwo" width="700" height="600"
                style="position: absolute; left: 810px; top: 150px; z-index: 3;"></canvas>
        <div id="sensorTwoStatus" style="position: absolute; left: 810px; top: 860px;"></div> <!--This is where the data from the server is added-->
    </div>
    <div style="position: absolute; left: 810px; top: 0;">
        <form>

            <!--<input type="text" id="message" /> <!--text form to send data to the server-->
            <input id="getCalibrationFrames" type="button" value="Get Calibration Frames">
            <input id="refreshSensors" type="button" value="Refresh Sensor Lists">
        </form>
    </div>
    <div style="position: absolute; left: 0px; top: 810px;">
        <div id="status" style="height: 200px; z-index: 1;"></div> <!--This is where the data from the server is added-->
        <input id="resetPointsOne" type="button" value="Reset Points for Sensor One">
        <input id="resetPointsTwo" type="button" value="Reset Points for Sensor Two">
        <input id="calibrate" type="button" value="Calibrate!">
    </div>
</body>
</html>