<!DOCTYPE html>
<html>
<head>
    <title>Super Cool SOD Visualizer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

        var calibrationFrames = {};

        io = io.connect()
        io.on("connect", function(){
            io.emit("registerWebClient", {});
            //$('#status').html("Listening on: " + io.socket.sessionid + "/setCalibrationFrame");
        });

        io.on("anything", function(data){
            ('#status').html("MESSAGE RECEIVED: " + data);
        })

        io.on("setCalibrationFrame", function(data){
            if(calibrationFrames[data.sourceID] != undefined){
                if(calibrationFrames[data.sourceID] == "reference"){
                    canvas = document.getElementById("cnvSensor1");
                    var ctx = canvas.getContext("2d");
                    var bytearray = new Uint8Array(data.payload);
                    var imgdata = ctx.getImageData(0,0, 640, 480);
                    var imgdatalen = imgdata.data.length;
                    $('#status').append(imgdatalen);
                    for(var i=0;i<(imgdatalen/4);i++){
                        var depth = data.payload[i]*255/32760;

                        imgdata.data[4*i] = depth;
                        imgdata.data[4*i+1] = depth;
                        imgdata.data[4*i+2] = depth;
                        imgdata.data[4*i+3] = 255;
                    }
                    ctx.putImageData(imgdata,0,0)
                }
                else{
                    canvas = document.getElementById("cnvSensor2");
                    var ctx = canvas.getContext("2d");
                    var bytearray = new Uint8Array(data.payload);
                    var imgdata = ctx.getImageData(0,0, 512, 424);
                    var imgdatalen = imgdata.data.length;
                    $('#status').append(imgdatalen);
                    for(var i=0;i<(imgdatalen/4);i++){
                        var depth = data.payload[i]*255/5;

                        imgdata.data[4*i] = depth;
                        imgdata.data[4*i+1] = depth;
                        imgdata.data[4*i+2] = depth;
                        imgdata.data[4*i+3] = 255;
                    }
                    ctx.putImageData(imgdata,0,0)
                }


            }

        });

        $(function(){
            $('#refreshSensors').click(function(){
                $("#referenceSensorList").empty();
                $("#uncalibratedSensorList").empty();
                io.emit('getSensorsFromServer', {}, function(data){
                    var referenceSensorList = document.getElementById("referenceSensorList")
                    var uncalibratedSensorList = document.getElementById("uncalibratedSensorList")
                    data.forEach((function(sensor){
                        var option = document.createElement("option");
                        option.text = sensor.socketID;
                        if(sensor.isCalibrated == true){
                            var option2 = document.createElement("option");
                            option2.text = sensor.socketID;
                            referenceSensorList.add(option2);
                        }
                        uncalibratedSensorList.add(option);
                    }))
                });
            })
            $('#getCalibrationFrames').click(function(){ /*listening to the button click using Jquery listener*/
                var e1 = document.getElementById("referenceSensorList");
                var e2 = document.getElementById("uncalibratedSensorList");
                while(calibrationFrames.length > 0){
                    calibrationFrames.pop();
                }
                calibrationFrames[e1.options[e1.selectedIndex].text] = "reference";
                calibrationFrames[e2.options[e2.selectedIndex].text] = "uncalibrated";
                $('#status').html('CLICKED BUTTON');
                io.emit("getCalibrationFrames", {referenceSensorID: e1.options[e1.selectedIndex].text, uncalibratedSensorID: e2.options[e2.selectedIndex].text});
            });
        });
        io.emit("registerWebClient", {});

    </script>
</head>
<body onload="">
    <form>
        <select id="referenceSensorList" size="5"></select>
        <select id="uncalibratedSensorList" size="5"></select>
    </form>

    <div>
        <canvas id="cnvSensor1" width="640" height="480"
                style="position: absolute; left: 0px; top: 150px; z-index: 3;"></canvas>
        <canvas id="cnvSensor2" width="700" height="600"
                style="position: absolute; left: 810px; top: 150px; z-index: 3;"></canvas>
    </div>
    <div style="position: absolute; left: 810px; top: 0;">
        <form>

            <!--<input type="text" id="message" /> <!--text form to send data to the server-->
            <input id="getCalibrationFrames" type="button" value="Get Calibration Frames">
            <input id="refreshSensors" type="button" value="Refresh Sensor Lists">
        </form>
    </div>
    <div style="position: absolute; left: 0px; top: 810px;">
        <div id="status" style="height: 200px; z-index: 1;"></div> <!--This is where the data from the server is added-->
    </div>
</body>
</html>