<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SOD Mobile</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery Mobile Demos</title>
    <link rel="stylesheet" href="/style-mobile">
    <script src="/jquery"></script>
    <script src="/jquery-mobile"></script>
    <script src="/socket.io/socket.io.js"></script>
    -->
    <script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style-mobile">
    <script src="/kinetic"> </script>
    <script src="/jquery"></script>
    <script src="/jquery-mobile"></script>
    <script src="/SoDLibrary"></script>

    <script>
        // socket part

        /*io.on("connect", function(){
            io.emit("registerMobileWebClient", {});
        });*/


        // END of socket


        var isMobile = {
            Android: function() {
                return /Android/i.test(navigator.userAgent);
            },
            BlackBerry: function() {
                return /BlackBerry/i.test(navigator.userAgent);
            },
            iOS: function() {
                return /iPhone|iPad|iPod/i.test(navigator.userAgent);
            },
            Windows: function() {
                return /IEMobile/i.test(navigator.userAgent);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            }
        };

        $(document).ready(function() {
            $("#dropData").bind("click", function () {
                console.log('Person '+ $('#dropPersonID').val() + ' drop range: '+ Number($('#dropRange').val()));
                io.emit('dropData',{ID:$('#dropPersonID').val(),dropRange:Number($('#dropRange').val())});
            });
            $('#resetDropData').bind('click',function(){
                $('#dropPersonID').val('0');
                $('#dropRange').val('1');
            });





            var SOD;
            $('#connect').bind("click",function(){
                console.log("hah");
                var port = $('input#serverPort').val();
                var serverIP = $('input#serverIP').val();
                var serverURL = "http://"+serverIP+":"+port;
                var socketURL = serverURL+"/socket.io/socket.io.js";
                SOD = new SODDevice();
                SOD.init(serverURL,socketURL, SOD);
                SOD.addListener('connect',function(data){
                    SOD.registerDevice(SOD);
                });
                alert("true?");
            });

            window.addEventListener("deviceorientation", function(event) {
                // process event.alpha, event.beta and event.gamma
                $('#orientationOnChangeAlpha').val(event.alpha);
                $('#orientationOnChangeBeta').val(event.beta);
                $('#orientationOnChangeGamma').val(event.gamma);
            }, true);


        });

        /*$(window).bind("resize", function(){
            var orientation = window.orientation;
            var new_orientation = (orientation) ? 0 : 180 + orientation;
            $('body').css({
                "-webkit-transform": "rotate(" + new_orientation + "deg)"
            });
        });*/

    </script>

</head>

<body>

<!-- Start of first page -->
<div data-role="page" id="mobileHome" data-theme="b">

    <div data-role="header" data-theme="b">
        <h1>Home-Mobile</h1>
    </div><!-- /header -->

    <div data-role="content" >
        <div data-role="fieldContain">
            <!--<label for="dropPersonID">Person ID:</label>
            <input type="text" name="dropPersonID" id="dropPersonID" value="0"  />
            <label for="dropRange">dropRange:</label>
            <input type="text" name="dropRange" id="dropRange" value="1"  />-->
            <label for="orientationOnChangeAlpha">Alpha</label><input id='orientationOnChangeAlpha' type="number" value='0'/>
            <label for="orientationOnChangeBeta">Beta</label><input id='orientationOnChangeBeta' type="number" value='0'/>
            <label for="orientationOnChangeGamma">Gamma</label><input id='orientationOnChangeGamma' type="number" value='0'/>


        </div>
        <label for="serverIP">Server IP</label><input type="text" name="serverIP" id="serverIP" value="localhost"/>
        <label for="serverPort">Server IP</label><input type="text" name="serverIP" id="serverPort" value="3000"/>
        <div class="ui-grid-a">
            <div class="ui-block-"><button data-icon="check" id="connect">Connect</button></div>
        </div><!-- /grid-a -->

    </div><!-- /content -->

    <div data-role="footer">
        <h4>SOD - ASE 2014</h4>
    </div><!-- /footer -->
</div><!-- /page -->


</body>
</html>