<!DOCTYPE html>

<html>

<head>
<title>Super Cool SOD Visualizer</title>
<script src = "/jquery"> </script>
<script src="/socket.io/socket.io.js"></script>
<link href="/style" rel="stylesheet"  />
    <script>
    $(document).ready(function(){
        $("#calibration_flip").click(function(){
            $("section#canvas").hide();
            $("section#overview").hide();
            $("#calibration_section").fadeIn("fast");
            $('.status').html('<span class="normal_status">Calibrate Mode!</span>');
            $('.normal_status').fadeIn(600);
        });
        $('#overview_flip').on('click',function(){
            $("#calibration_section").hide();
            $("section#canvas").fadeIn("fast");
            $("section#overview").fadeIn("fast");
            $('.status').html('<span class="normal_status">OverView</span>');
            $('.normal_status').fadeIn(600);
        });
        $('#refreshSensors').on('click',function(){
            refreshSensors();
        })


        // clear the points for sensor one
        $('#clear_master_points').click(function(){
            $('input[name=master_point1X]').val('');
            $('input[name=master_point1Y]').val('');
            $('input[name=master_point2X]').val('');
            $('input[name=master_point2Y]').val('');
            sensorOnePoints.splice(0,sensorOnePoints.length); // clear all the points for sensor one
            $('.status').html("<span class='green_status'>Reference Sensor Points Cleared!</span>");
            $('.green_status').fadeIn(600);
        });

        // clear the points for sensor one
        $('#clear_sensorTwo_points').click(function(){
            $('input[name=sensor_point1X]').val('');
            $('input[name=sensor_point1Y]').val('');
            $('input[name=sensor_point2X]').val('');
            $('input[name=sensor_point2Y]').val('');
            sensorTwoPoints.splice(0,sensorTwoPoints.length); // clear all the points for sensor one
            showGreenStatus("Sensor Two Points Cleared!");
        });

        $('body').on('click','.get_unpaired_people',function(){
        var deviceID = uniqueDeviceIDToSocketID[$("td:first",$(this).parents('tr')).text()];
            console.log("Selected Device: " + deviceID + "\tuniquePersonID: "+ $(this).text());
            io.emit("pairDeviceWithPerson",{deviceSocketID:deviceID, uniquePersonID: $(this).text()},function(callback){
                console.log(JSON.stringify(callback));
            });
        })



    });
</script>
<script src="/overviewJS"></script>
<script src="/calibrateJS"></script>


</head>
<body onload="drawGrid(); refreshSensors();">
<div id="page-wrap">
    <section id="top">
        <header>Super Cool SOD Visualizer
            </header>
        <nav id="mode_selection" >
            <ul>
                <li id="overview_flip">Overview</li>
                <li id="calibration_flip">Calibration Mode!</li>
                <li>More Pages1</li>
                <li>More Pages2</li>
            </ul>
        </nav>
        <section id="calibration_section">
            <div class="button" id = "refreshSensors">Refresh Sensors</div>
            <div id = "getCalibrationFrames"> Get Image!</div>
            <!--<input id="getCalibrationFrames" type="button" value="Get Calibration Frames"> <!-- Get Image button -->
            <form>
                <table>
                    <tr>
                        <td>
                            <fieldset class="master">
                                <legend>References Sensor</legend>
                                <div class="calibration_wrap">
                                    <h5>Please Select a master reference:</h5>
                                    <select id="referenceSensorList" size="5" name="referenceSensorList"></select>
                                    <div class="canvas_fake"> </div>

                                    <!--This is where the data from the server is added-->

                                    <canvas id="cnvSensorOne" width="640" height="480"
                                            style="position: absolute;left: 26px;top: 207px;z-index: 4;"></canvas>


                                </div>
                                <fieldset class="sub_field">
                                    <legend>Points Selected</legend>
                                    <!--<div class="pointsStatus" id="sensorOneStatus"></div>-->
                                    <div class="points">
                                        Master Point1    X:<input type="text" name="master_point1X" value="">
                                        Y:<input type="text" name="master_point1Y" value=""></br>
                                    </div>
                                    <div class="points">
                                        Master Point2 X:<input type="text" name="master_point2X" value="">
                                        Y:<input type="text" name="master_point2Y" value=""></br>
                                    </div>
                                    <div class="button" id="clear_master_points"> Clear Points </div>
                                </fieldset>
                            </fieldset>

                        </td>
                        <td>
                            <fieldset class="master">
                                <legend>Sensors Being Calibrated</legend>
                                <div class="calibration_wrap">
                                    <h5>Please Select a Sensor:</h5>
                                    <select id="uncalibratedSensorList" size="5" name="uncalibratedSensorList"></select>
                                    <div class="canvas_fake"> </div>
                                    <!--This is where the data from the server is added-->

                                    <canvas id="cnvSensorTwo" width="700" height="600"
                                            style="position: absolute;left: 725px;top:207px;z-index: 4;"></canvas>


                                    <fieldset class="sub_field">
                                        <legend>Points Selected</legend>
                                        <!--<div class="pointsStatus" id="sensorTwoStatus" ></div> <!--This is where the data from the server is added-->
                                        <div class="points">
                                            Sensor Point1   X:<input type="text" name="sensor_point1X" value="">
                                            Y:<input type="text" name="sensor_point1Y" value=""></br>
                                        </div> 
                                        <div class="points">
                                            Sensor Point2 X:<input type="text" name="sensor_point2X" value="">
                                            Y:<input type="text" name="sensor_point2Y" value=""></br>
                                        </div>
                                        <div class="button" id="clear_sensorTwo_points"> Clear Points </div>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </form>

            <!--<input id="calibrate" type="button" value="Calibrate!">-->

            <div class="button" id="calibrate"> Calibrate! </div>
            <div id="calibration_bottom"> </div>
        </section>

    </section>
    <section id="canvas">
        <canvas id="cnv" width="800" height="800" ></canvas>
        <canvas id="cnvStationary" width="800" height="800" ></canvas>
        <canvas id="cnvSensors" width="800" height="800"></canvas>
        <canvas id="cnvBG" width="800" height="800"></canvas>
    </section>
    <section id="overview">

        <form>
            <!--<input type="text" id="message" /> <!--text form to send data to the server-->
            <div id="contentHeader" >Overview</div> <!--This is where the data from the server is added-->

            <fieldset id="clients">
                <legend> Clients </legend>
            </fieldset>  <!--This is where the data from the server is added-->
            <fieldset id="sensors" >
                <legend> Sensors </legend>
            </fieldset> <!--This is where the data from the server is added-->
            <fieldset id="people">
                <legend> People </legend>
            </fieldset> <!--This is where the data from the server is added-->

            <fieldset id="devices">
                <legend> Devices </legend>
            </fieldset> <!--This is where the data from the server is added-->

        </form>
    </section>
    <div class="status_wrap">
        <h1>status:</h1>
        <div class="status"></div> <!--This is where the data from the server is added-->
    </div>

</div><!-- closing page wrap -->
</body>
</html>