<!DOCTYPE html>

<html>

<head>
<title>Super Cool SOD Visualizer</title>
    <script type="text/javascript">
        <!--
        if (screen.width <= 699) {
            document.location = "/mobile";
        }
        //-->
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <script src="/dataJS"></script>
    <script src="/kinetic"> </script>

<script src = "/jquery"> </script>
<script src="/socket.io/socket.io.js"></script>
<link href="/style" rel="stylesheet"  />
    <script src="/overviewJS"></script>
    <script src="/calibrateJS"></script>
    <script src="/UIJS"></script>


    <script>

</script>
</head>
<body onload="drawGrid();fileList();">
<div id="page-wrap">
    <div id="top">
        <header>Super Cool SOD Visualizer
            </header>
        <nav id="mode_selection" >
            <ul>
                <li id="overview_flip">Overview</li>
                <li id="calibration_flip">Calibration</li>
                <li id="dataManage_flip">Data Management</li>
                <li id="settings_flip">Settings</li>
                <li><a href="/doc" target="_blank">Documentation</a></li>
                <li id="sampleClients_flip">Sample Clients
                <ul id="sampleClients_list" style="display:none;">
                    <li><a href="/JSDeviceClient" target="_blank">Device Client</a></li>
                    <li><a href="/JSSensorClient" target="_blank">Sensor Client</a></li>
                    <li><a href="/JSDataPointClient" target="_blank">DataPoints Client</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
        <section id="calibration_section">
            <div class="instruction_menu"><div class="buttonSelected button" id="calibrate_instruction_flip">Calibration Documentation</div></div>

            <div class="instruction_menu" id="calibration_instruction" style="display:none;">

                <fieldset class="calibration_step">
                    <legend> Preparation: </legend>
                    <ol style="text-align:left;list-style-type: cjk-ideographic;">
                        <li>Two or more Kinect2 sensor. Note that each sensor should be facing a common area with at least one another sensor(so that you can calibrate them :P). Also use <a target="_blank" href="https://github.com/ase-lab/SoD_Sensor">SoD Sensor</a> C# client to connect them to SoD Server. </li>
                        <li>Two water bottles & a desk.</li>
                    </ol>
                </fieldset>

                <fieldset class="calibration_step">
                <legend> Step 1: </legend>
                    <h3>Click on "Refresh sensors" make sure the sensor list has the most updated sensor ID. </h3>
                </fieldset>
                <fieldset class="calibration_step">
                    <legend> Step 2: </legend>
                    <h3>Select Sensors from the reference sensor list and the sensor you want to calibrate.</h3>
                    <h3>Then, Click on the "Get Image" button</h3>
                </fieldset>
                <fieldset class="calibration_step">
                    <legend> Step 3: </legend>
                    <h3>Select Two Points from each image, make sure the sequence the points you select map the reality.</h3>
                    <h3> In another word, if you select points AB from reference sensor frame, also select AB from calibrate list.</h3>
                </fieldset>
                <fieldset class="calibration_step">
                    <legend> Step 4: </legend>
                    <h3>After all four points(two from each image) are selected. Click on the "Calibrate" button.<br/>If calibration succeeded, there will be a green status on the left indicates the degree between two sensors. </h3>
                </fieldset>
                <fieldset class="calibration_step">
                    <legend> Error Status Explanation: </legend>
                    <ul>
                        <li style="text-align:left;"><em>Calibration Failed!... Reselect Points!</em><h3>This can't be cause by two situation:</h3> <ol style="text-align:left;list-style-type: cjk-ideographic;"><li>The points selected from two frame image don't match.</li> <li>Sensor has an translation rule already and been moved afterwards, so the points you selected
                        still apply the old translation rule that cause the points don't match.</li></ol>
                            <h3>Solution:</h3> Restart sensor and calibrate them, also make sure two points that you are going to select from two frame image match each other.</li>
                    </ul>
                </fieldset>
            </div>
            <div class="instruction_menu">
                <div class="button" id = "refreshSensors">Refresh Sensors</div>
                <div class="button" id = "getCalibrationFrames">Get Image</div>
                <div class="button" id="calibrate"> Calibrate </div>
            </div>
            <!--<input id="getCalibrationFrames" type="button" value="Get Calibration Frames"> <!-- Get Image button -->
            <form id="frame_table">
                <table>
                    <tr>
                        <td>
                            <fieldset class="master">
                                <legend>References Sensor</legend>
                                <div class="calibration_wrap">
                                    <h5>Please Select a reference sensor:</h5>
                                    <select id="referenceSensorList"  name="referenceSensorList"></select>
                                    <div class="canvas_wrap" id="reference_wrap"> </div>
                                    <!--This is where the data from the server is added-->
                                </div>
                                <fieldset class="sub_field">
                                    <legend>Points Selected</legend>
                                    <!--<div class="pointsStatus" id="sensorOneStatus"></div>-->
                                    <div class="points">
                                        Master Point1    X:<input type="text" name="master_point1X" value="">
                                        Y:<input type="text" name="master_point1Y" value=""></br>
                                    </div>
                                    <div class="points">
                                        Master Point2 X:<input type="text" name="master_point2X" value="">
                                        Y:<input type="text" name="master_point2Y" value=""></br>
                                    </div>
                                    <div class="button" id="clear_master_points"> Clear Points </div>
                                </fieldset>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="master">
                                <legend>Sensors Being Calibrated</legend>
                                <div class="calibration_wrap">
                                    <h5>Please Select sensor for calibrate:</h5>
                                    <select id="uncalibratedSensorList" name="uncalibratedSensorList"></select>
                                    <div class="canvas_wrap" id="calibrate_wrap"></canvas>
                                    </div>
                                    <!--This is where the data from the server is added-->

                                    <fieldset class="sub_field">
                                        <legend>Points Selected</legend>
                                        <!--<div class="pointsStatus" id="sensorTwoStatus" ></div> <!--This is where the data from the server is added-->
                                        <div class="points">
                                            Sensor Point1   X:<input type="text" name="sensor_point1X" value="">
                                            Y:<input type="text" name="sensor_point1Y" value=""></br>
                                        </div> 
                                        <div class="points">
                                            Sensor Point2 X:<input type="text" name="sensor_point2X" value="">
                                            Y:<input type="text" name="sensor_point2Y" value=""></br>
                                        </div>
                                        <div class="button" id="clear_sensorTwo_points"> Clear Points </div>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </form>

            <!--<input id="calibrate" type="button" value="Calibrate!">-->

        </section>
    <section id="canvas">
        <div id="cnvStationary"></div>
        <canvas id="cnv" width="800" height="800" ></canvas>
        <canvas id="cnvSensors" width="800" height="800"></canvas>
        <canvas id="cnvBG" width="800" height="800"></canvas>
        <div id="overview">

            <div id="kineticDiv"></div>

            <form>
                <!--<input type="text" id="message" /> <!--text form to send data to the server-->
                <div id="contentHeader" >Overview</div> <!--This is where the data from the server is added-->

                <fieldset id="clients">
                    <legend> Clients </legend>
                </fieldset>  <!--This is where the data from the server is added-->
                <fieldset id="sensors" >
                    <legend> Sensors </legend>
                </fieldset> <!--This is where the data from the server is added-->
                <fieldset id="people">
                    <legend> People </legend>
                </fieldset> <!--This is where the data from the server is added-->
                <fieldset id="devices">
                    <legend> Devices </legend>
                </fieldset> <!--This is where the data from the server is added-->

                <fieldset id="dataPoints">
                    <legend> dataPoints </legend>
                </fieldset> <!--This is where the data from the server is added-->


            </form>
        </div>

    </section>
    <section id="dataManage">
        <div id="dataManage_wrap">
            <h1>Files List: </h1>
            <select id="filesList" size="15"></select>
            </br>
            <div>
                <div id="upload">
                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <input type="file" name="dataFile" style="color: whitesmoke;">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div> <!-- End of dataManage_wrap -->
    </section>
    <section id="setting" style="display:none;">
        <h2>Settings</h2>
        <div class="button" id="saveCurrentState">Save State</div>
        <div class="button" id="loadFromFlashBack">Load State</div>
        <div id="settingChangesMade"></div>
        <div class="instruction_menu" id="setting_menu">
        </div>
        <div class="button" id="submitChanges">Submit</div>
    </section>

    <div class="status_wrap">
        <h1>status:</h1>
        <div class="status"></div> <!--This is where the data from the server is added-->
    </div>



    </div><!-- closing page wrap -->

</body>
</html>